.wrapper {
    padding: 10px 15px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 33px -21px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: 0px 0px 33px -21px rgba(0, 0, 0, 0.56);
    box-shadow: 0px 0px 33px -21px rgba(0, 0, 0, 0.56);
}

.wrapper h2 {
    color: #4a4a4a;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 30px;
}

ul.top-ranking-items {}

ul.top-ranking-items li.top-ranking-item {
    padding: 10px 0 10px;
    border-bottom: 1px solid #d4dcdd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.top-ranking-items li.top-ranking-item:first-of-type {
    padding-top: 0;
}

ul.top-ranking-items li.top-ranking-item:last-of-type {
    padding-bottom: 0;
    border: 0;
}

ul.top-ranking-items li.top-ranking-item .top-ranking-item-image {
    flex: 1;
}

ul.top-ranking-items li.top-ranking-item .top-ranking-item-image a {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;
    /* width: 215px; */
    height: 35px;
    display: block;
}

ul.top-ranking-items li.top-ranking-item .top-ranking-item-rank-and-link {
    flex: 1;
}