/* #region top-ten-vpn-top  */

.top-ten-vpn-top {
    background: url('/assets/images/pages/top-ten-vpn/header-image-2.jpg') center top no-repeat;
    height: 280px;
    padding: 50px 0 0;
}

.top-ten-vpn-top h1 {
    font-size: 32px;
    font-weight: 700;
    color: #4a4a4a;
    text-shadow: 0px 0px 20px transparent;
    width: 360px;
    max-width: 100%;
    line-height: 1.2;
    margin-bottom: 10px;
}

.top-ten-vpn-top p {
    font-size: 15px;
    font-weight: 400;
    color: #4a4a4a;
    line-height: 1.5;
}

.top-ten-vpn-top p.using {
    width: 510px;
    max-width: 100%;
}

.top-ten-vpn-top p.secure {
    display: none;
    text-align: center;
}

.top-ten-vpn-top .compatible {
    display: flex;
    align-items: center;
}

.top-ten-vpn-top .compatible span.title {
    font-size: 15px;
    font-weight: bold;
    color: #4a4a4a;
    margin-right: 30px;
}

.top-ten-vpn-top .compatible ul.compatibles-items {
    display: inline-flex;
}

.top-ten-vpn-top .compatible ul.compatibles-items li.compatibles-item {
    background-repeat: no-repeat;
    height: 22px;
    width: 22px;
    margin-right: 15px;
}

.top-ten-vpn-top .compatible ul.compatibles-items li.compatibles-item:last-of-type {
    margin-right: 0;
}

.top-ten-vpn-top .compatible ul.compatibles-items li.compatibles-item.windows {
    background-image: url('/assets/images/pages/top-ten-vpn/compatible/windows-icon.png');
}

.top-ten-vpn-top .compatible ul.compatibles-items li.compatibles-item.ios {
    background-image: url('/assets/images/pages/top-ten-vpn/compatible/ios-icon.png');
}

.top-ten-vpn-top .compatible ul.compatibles-items li.compatibles-item.linux {
    background-image: url('/assets/images/pages/top-ten-vpn/compatible/Linux-icon.png');
}

.top-ten-vpn-top .compatible ul.compatibles-items li.compatibles-item.application {
    background-image: url('/assets/images/pages/top-ten-vpn/compatible/aplication-icon.png');
}

.top-ten-vpn-top .compatible ul.compatibles-items li.compatibles-item.android {
    background-image: url('/assets/images/pages/top-ten-vpn/compatible/android-icon.png');
}

/* #endregion top-ten-vpn-top  */

/*#region q-and-a*/

.qs-and-as {
    margin-top: 30px;
}

.qs-and-as h2 {
    font-size: 20px;
    color: #54585a;
    font-weight: bold;
    margin-top: 20px;
}

.qs-and-as p {
    font-size: 15px;
    font-weight: 400;
    color: #4a4a4a;
    line-height: 1.3;
}

/*#endregion q-and-a*/

/* #region read-more-vpn-services */

.read-more-vpn-services {}

.read-more-vpn-services .read-more-vpn-services-container {
    background: #fff;
    padding: 20px 0;
}

.read-more-vpn-services .read-more-vpn-services-container h2 {
    padding: 0 15px;
    color: #000;
    font-size: 20px;
    font-weight: 700;
}

.read-more-vpn-services ul.vpn-services {
    padding: 0 15px;
}

.read-more-vpn-services ul.vpn-services li.vpn-service {
    margin-top: 30px;
}

.read-more-vpn-services ul.vpn-services li.vpn-service .vpn-service-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d5d5d5;
    padding-bottom: 10px;
}

.read-more-vpn-services ul.vpn-services li.vpn-service .vpn-service-header .vpn-service-header-image {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center
}

.read-more-vpn-services ul.vpn-services li.vpn-service.cyberGhost .vpn-service-header .vpn-service-header-image {
    background-image: url('/assets/images/vpn-services/desktop/cyberGhost.png');
}

.read-more-vpn-services ul.vpn-services li.vpn-service.nordVPN .vpn-service-header .vpn-service-header-image {
    background-image: url('/assets/images/vpn-services/desktop/nordVPN.png');
}

.read-more-vpn-services ul.vpn-services li.vpn-service.privateVPN .vpn-service-header .vpn-service-header-image {
    background-image: url('/assets/images/vpn-services/desktop/privateVPN.png');
}

.read-more-vpn-services ul.vpn-services li.vpn-service .vpn-service-header a {
    width: 140px;
    height: 40px;
}

.read-more-vpn-services ul.vpn-services li.vpn-service .vpn-service-body h3 {
    font-size: 18px;
    font-weight: 700;
    color: #000;
    margin: 20px 0;
}

.read-more-vpn-services ul.vpn-services li.vpn-service .vpn-service-body p {
    font-size: 15px;
    font-weight: 400;
    color: #4a4a4a;
    line-height: 1.3;
}

.read-more-vpn-services ul.vpn-services li.vpn-service .vpn-service-body .prosAndCons .title {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0 5px;
}

.read-more-vpn-services ul.vpn-services li.vpn-service .vpn-service-body .prosAndCons ul {
    font-weight: 400;
    font-size: 15px;
    color: #2d2d2d;
}

.read-more-vpn-services ul.vpn-services li.vpn-service .vpn-service-body .prosAndCons ul li {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.read-more-vpn-services ul.vpn-services li.vpn-service .vpn-service-body .prosAndCons ul li:before {
    content: '';
    display: inline-block;
    vertical-align: top;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    margin-right: 10px;
}

.read-more-vpn-services ul.vpn-services li.vpn-service .vpn-service-body .prosAndCons .pros ul li:before {
    background-image: url('/assets/images/pages/top-ten-vpn/green-plus.png');
}

.read-more-vpn-services ul.vpn-services li.vpn-service .vpn-service-body .prosAndCons .cons ul li:before {
    background-image: url('/assets/images/pages/top-ten-vpn/red-minus.png');
}

/* #endregion read-more-vpn-services */

/* #region qs-and-as-tabs */

.qs-and-as-tabs {
    margin-top: 30px;
}

.qs-and-as-tabs .wrapper {
    display: flex;
}

:host ::ng-deep .qs-and-as-tabs .nav.nav-tabs {
    flex-direction: column;
    flex: 1;
}

:host ::ng-deep .qs-and-as-tabs .tab-content {
    flex: 1;
}

/* #endregion qs-and-as-tabs */

/* #region CSS Media Queries */

.update-and-advertising-container {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #7f7f80;
    font-weight: 500;
    padding: 5px 0;
    position: relative;
}

.update-and-advertising-container .update-date {
    display: none;
}

/*#region advertising-container */

.update-and-advertising-container .advertising-disclosure button.toggle {
    padding: 0;
    font-size: 13px;
    font-weight: 400;
    border-radius: 0;
    color: #7f7f80;
}

.update-and-advertising-container .advertising-disclosure-text {
    padding: 15px;
    position: absolute;
    top: -15px;
    right: 0;
    width: 370px;
    background-color: rgb(255, 255, 255);
    opacity: .95;
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, .25);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .25);
    z-index: 1;
    overflow: hidden;
}

.update-and-advertising-container .advertising-disclosure-text p {
    margin: 0;
    line-height: 1.3;
}

.update-and-advertising-container .advertising-disclosure-text .close-advertising-disclosure-text {
    margin-top: 10px;
    color: #0076ff;
    display: block;
    text-align: center;
    font-size: 13px;
    color: #0076ff;
    font-weight: 400;
    margin: 15px auto 0;
    padding: 0;
}

/*#endregion advertising-container */

/*#region top-ten-vpn-list-section */

.top-ten-vpn-list-section .row {
    margin-left: 0;
    margin-right: 0;
}

ul.top-ten-vpn-list-menu {
    background-color: #002d61;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
    border: solid 1px transparent;
    padding: 10px 0;
}

ul.top-ten-vpn-list-menu .top-ten-vpn-list-menu-item {
    font-size: 15px;
    color: #fff;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.4px;
}

ul.top-ten-vpn-list-menu .top-ten-vpn-list-menu-item.our-score .our-score-info {
    margin-left: 10px;
}

ul.top-ten-vpn-list-menu .top-ten-vpn-list-menu-item.our-score .our-score-info button {
    content: '';
    background: url('/assets/images/pages/top-ten-vpn/info-icon.png') no-repeat;
    width: 13px;
    height: 13px;
    padding: 0;
    border: 0px;
}

:host ::ng-deep ul.top-ten-vpn-list-menu .top-ten-vpn-list-menu-item.our-score .our-score-info .popover-body {
    font-size: 11px;
    font-weight: 400;
    color: #000;
}

.top-ten-vpn-list .top-ten-vpn-list-item {
    -webkit-box-shadow: 0 11px 18px #aeacac;
    -moz-box-shadow: 0 11px 18px #aeacac;
    box-shadow: 0 11px 18px hsl(0, 1%, 68%);
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    min-height: 265px;
    margin-bottom: 1px;
}

.top-ten-vpn-list .top-ten-vpn-list-item:first-of-type {
    border: 1px solid #0075ff;
}

.top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items {
    height: 100%;
}

.top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .service {
    display: flex;
    flex-direction: column;
}

.top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .service .rank {
    position: absolute;
    background: #1577fb;
    width: 30px;
    height: 30px;
    font-size: 16px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    left: -15px;
    top: 0;
}

.top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .service .rank:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 30px solid #1577fb;
    border-right: 10px solid transparent;
    position: absolute;
    top: 0;
    right: -10px;
}

.top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .service .ribon {
    position: relative;
    height: 30px;
    width: 170px;
    background-color: #0076FF;
    transform: skew(-18deg);
    -webkit-transform: skew(-18deg);
    margin: 0 0 15px 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .service .ribon .title {
    font-size: 15px;
    color: #fff;
    transform: skew(18deg);
    -webkit-transform: skew(18deg);
    display: block;
}

.top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .service .service-image.mobile {
    display: none;
}

.top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .service .service-image {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
}

.top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .features h3.title {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 15px;
}

.top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .features ul li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 15px;
    color: #4a4a4a;
}

.top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .features ul li:last-of-type {
    margin-bottom: 0;
}

.top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .features ul li:before {
    content: '';
    background: url('/assets/images/pages/top-ten-vpn/vvv.png') no-repeat;
    width: 14px;
    height: 11px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .score {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    text-align: center;
}

.top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .score .numaric-value {
    color: #4a4a4a;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.4px;
    border-bottom: 3px solid #0076ff;
    padding: 0 10px 5px;
}

.top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .stars-container {
    margin-top: 10px;
}

.top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .stars-container .stars {
    display: flex;
}

.top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .stars-container .stars .star {
    background: url('/assets/images/pages/top-ten-vpn/stars/empty-star.png') top center no-repeat;
    width: 20px;
    height: 18px;
}

.top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .stars-container .stars .star.half-star {
    background-image: url('/assets/images/pages/top-ten-vpn/stars/half-star.png');
}

.top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .stars-container .stars .star.full-star {
    background-image: url('/assets/images/pages/top-ten-vpn/stars/full-star.png');
}

.top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .stars-container .title {
    margin-top: 5px;
    font-size: 11px;
    color: #2d2d2d;
}

.top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .visit {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .visit a {
    min-width: 160px;
    min-height: 45px;
}

.top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .visit a:hover {
    background-color: #d24824;
}

.top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .our-score {
    display: none;
    text-align: center;
    margin-bottom: 10px;
}

.top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .our-score .title {
    color: #1577fb;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 400;
}

.top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .our-score .numaric-value {
    color: #1577fb;
    font-size: 25px;
    letter-spacing: 0.4;
}

.top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .features {
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

/*#endregion top-ten-vpn-list-section */

@media screen and (min-width: 768px) {
    .update-and-advertising-container .advertising-disclosure button.toggle {
        position: absolute;
        right: 0;
        top: -50px;
        color: #fff;
        background-color: rgba(44, 44, 44, 0.6);
        padding: 1px 4px;
    }
}

@media screen and (max-width: 1199px) {
    .top-ten-vpn-top .container, .top-ten-vpn-list-section .container {
        max-width: 100%;
    }
}

@media screen and (max-width: 991px) {
    .top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .visit a {
        min-width: 200px;
        margin-top: 30px;
    }
}

@media screen and (max-width: 767px) {
    .top-ten-vpn-top {
        background: none;
        padding: 20px 0;
        height: auto;
    }
    .top-ten-vpn-top h1 {
        width: 250px;
        font-size: 23px;
        text-align: center;
        color: #2d2d2d;
        font-weight: 600;
        margin: 0 auto;
    }
    .top-ten-vpn-top h1 .vpn {
        color: #1577fb;
    }
    .top-ten-vpn-top p.using {
        display: none;
    }
    .top-ten-vpn-top p.secure {
        display: block;
        margin-top: 20px;
    }
    .top-ten-vpn-top .compatible {
        display: none;
    }
    .top-ten-vpn-list-section {
        background: #e7e7e7;
        padding-bottom: 20px;
    }
    .update-and-advertising-container .advertising-disclosure-text {
        width: 290px;
    }
    .update-and-advertising-container .update-date {
        display: inline;
    }
    .update-and-advertising-container .advertising-disclosure-text {
        top: 40px;
    }
    ul.top-ten-vpn-list-menu {
        display: none;
    }
    .top-ten-vpn-list .top-ten-vpn-list-item {
        min-height: initial;
    }
    .top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .features ul {
        display: none;
    }
    .top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .service .rank {
        display: none;
    }
    .top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .service .ribon {
        margin: 0;
        transform: skew(0deg);
        -webkit-transform: skew(0deg);
        position: relative;
        left: -30px;
        top: -15px;
        height: 25px;
    }
    .top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .service .ribon:after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 25px solid #1577fb;
        border-right: 10px solid transparent;
        position: absolute;
        top: 0;
        right: -10px;
    }
    .top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .service .ribon .title {
        font-size: 14px;
        transform: skew(0deg);
        -webkit-transform: skew(0deg);
    }
    .top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .service .service-image.mobile {
        display: block;
    }
    .top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .service .service-image.desktop {
        display: none;
    }
    .top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .service .service-image {
        width: 150px;
        height: 30px;
    }
    .top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .score .numaric-value {
        display: none;
    }
    .top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .features h3.title {
        font-size: 14px;
        font-weight: 300;
        color: #000;
        text-align: center;
        margin-bottom: 5px;
    }
    .top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .visit {
        height: auto;
    }
    .top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .visit a {
        min-width: 145px;
        min-height: 35px;
        background-color: #43ad35;
        border-radius: 25px;
        margin-top: 0;
    }
    .top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .visit a:hover {
        background-color: #43ad35;
    }
    .top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .our-score {
        display: block;
    }
    .read-more-vpn-services .read-more-vpn-services-container h2, .read-more-vpn-services ul.vpn-services {
        padding: 0;
    }
}

@media screen and (max-width: 375px) {
    .top-ten-vpn-list-section .container {
        padding-left: 0;
        padding-right: 0;
    }
    .top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .visit a {
        min-width: 100%;
    }
    .update-and-advertising-container {
        padding: 5px 15px;
    }
    .top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .service .service-image {
        width: 100%;
        background-position: center;
    }
    .top-ten-vpn-list .top-ten-vpn-list-item .top-ten-vpn-items .top-ten-vpn-item .score {
        height: initial;
    }
}

/* #endregion CSS Media Queries */