/* #region top-ten-vpn-top  */

.top-ten-vpn-top {
    background: url('/assets/images/pages/top-ten-vpn/header-image-2.jpg') center top no-repeat;
    height: 280px;
    padding: 50px 0 0;
}

.top-ten-vpn-top h1 {
    font-size: 32px;
    font-weight: 700;
    color: #4a4a4a;
    text-shadow: 0px 0px 20px transparent;
    width: 350px;
    max-width: 100%;
    line-height: 1.2;
    margin-bottom: 10px;
}

.top-ten-vpn-top p {
    font-size: 15px;
    font-weight: 400;
    color: #4a4a4a;
    line-height: 1.5;
}

.top-ten-vpn-top p.using {
    width: 510px;
    max-width: 100%;
}

.top-ten-vpn-top p.secure {
    display: none;
    text-align: center;
}

.top-ten-vpn-top .compatible {
    display: flex;
    align-items: center;
}

.top-ten-vpn-top .compatible span.title {
    font-size: 15px;
    font-weight: bold;
    color: #4a4a4a;
    margin-right: 30px;
}

.top-ten-vpn-top .compatible ul.compatibles-items {
    display: inline-flex;
}

.top-ten-vpn-top .compatible ul.compatibles-items li.compatibles-item {
    background-repeat: no-repeat;
    height: 22px;
    width: 22px;
    margin-right: 15px;
}

.top-ten-vpn-top .compatible ul.compatibles-items li.compatibles-item:last-of-type {
    margin-right: 0;
}

.top-ten-vpn-top .compatible ul.compatibles-items li.compatibles-item.windows {
    background-image: url('/assets/images/pages/top-ten-vpn/compatible/windows-icon.png');
}

.top-ten-vpn-top .compatible ul.compatibles-items li.compatibles-item.ios {
    background-image: url('/assets/images/pages/top-ten-vpn/compatible/ios-icon.png');
}

.top-ten-vpn-top .compatible ul.compatibles-items li.compatibles-item.linux {
    background-image: url('/assets/images/pages/top-ten-vpn/compatible/Linux-icon.png');
}

.top-ten-vpn-top .compatible ul.compatibles-items li.compatibles-item.application {
    background-image: url('/assets/images/pages/top-ten-vpn/compatible/aplication-icon.png');
}

.top-ten-vpn-top .compatible ul.compatibles-items li.compatibles-item.android {
    background-image: url('/assets/images/pages/top-ten-vpn/compatible/android-icon.png');
}

/* #endregion top-ten-vpn-top  */

/* #region CSS Media Queries */

.update-and-advertising-container {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #7f7f80;
    font-weight: 500;
    padding: 5px 0;
    position: relative;
}

.update-and-advertising-container .update-date {
    display: none;
}

/*#region advertising-container */

.update-and-advertising-container .advertising-disclosure button.toggle {
    padding: 0;
    font-size: 13px;
    font-weight: 400;
    border-radius: 0;
    color: #7f7f80;
}

.update-and-advertising-container .advertising-disclosure-text {
    padding: 15px;
    position: absolute;
    top: -15px;
    right: 0;
    width: 370px;
    background-color: rgb(255, 255, 255);
    opacity: .95;
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, .25);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .25);
    z-index: 1;
    overflow: hidden;
}

.update-and-advertising-container .advertising-disclosure-text p {
    margin: 0;
    line-height: 1.3;
}

.update-and-advertising-container .advertising-disclosure-text .close-advertising-disclosure-text {
    margin-top: 10px;
    color: #0076ff;
    display: block;
    text-align: center;
    font-size: 13px;
    color: #0076ff;
    font-weight: 400;
    margin: 15px auto 0;
    padding: 0;
}

/*#endregion advertising-container */

/*#region top-ten-vpn-list-section */

ul.top-ten-vpn-list-menu {
    background-color: #002d61;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
    border: solid 1px transparent;
    padding: 7.5px 5px;
}

ul.top-ten-vpn-list-menu .top-ten-vpn-list-menu-item {
    font-size: 15px;
    color: #fff;
}

ul.top-ten-vpn-list-menu .top-ten-vpn-list-menu-item.our-score .our-score-info {
    margin-left: 10px;
}

ul.top-ten-vpn-list-menu .top-ten-vpn-list-menu-item.our-score .our-score-info button {
    content: '';
    background: url('/assets/images/pages/top-ten-vpn/info-icon.png') no-repeat;
    width: 13px;
    height: 13px;
    padding: 0;
    border: 0px;
}

:host ::ng-deep ul.top-ten-vpn-list-menu .top-ten-vpn-list-menu-item.our-score .our-score-info .popover-body {
    font-size: 11px;
    font-weight: 400;
    color: #000;
}

/*#endregion top-ten-vpn-list-section */

@media screen and (min-width: 768px) {
    .update-and-advertising-container .advertising-disclosure button.toggle {
        position: absolute;
        right: 0;
        top: -50px;
        color: #fff;
        background-color: rgba(44, 44, 44, 0.6);
        padding: 1px 4px;
    }
}

@media screen and (max-width: 1199px) {
    .top-ten-vpn-top .container {
        max-width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .top-ten-vpn-top {
        background: none;
        padding: 20px 0;
        height: auto;
    }
    .top-ten-vpn-top h1 {
        width: 250px;
        font-size: 23px;
        text-align: center;
        color: #2d2d2d;
        font-weight: 600;
        margin: 0 auto;
    }
    .top-ten-vpn-top h1 .vpn {
        color: #1577fb;
    }
    .top-ten-vpn-top p.using {
        display: none;
    }
    .top-ten-vpn-top p.secure {
        display: block;
        margin-top: 20px;
    }
    .top-ten-vpn-top .compatible {
        display: none;
    }
    .top-ten-vpn-list-section {
        background: #e7e7e7;
    }
    .update-and-advertising-container .advertising-disclosure-text {
        width: 290px;
    }
    .update-and-advertising-container .update-date {
        display: inline;
    }
    .update-and-advertising-container .advertising-disclosure-text {
        top: 40px;
    }
}

/* #endregion CSS Media Queries */