<footer>
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-12">
                <div class="logo"></div>
                <p>Copyright © 2009-2019 Natural Intelligence Ltd. All Rights Reserved.</p>
                <p>By using our content, products &amp; services you agree to our <a href="javascript:void(0)">Terms of
                        Service</a> and <a href="javascript:void(0)">Privacy Policy</a>.</p>
                <hr />
            </div>
            <div class="col-xl-9 col-12">
                <ul class="list-unstyled footer-menu">
                    <li class="footer-menu-item"><a class="btn btn-link" href="javascript:void(0)">About Us</a></li>
                    <li class="footer-menu-item advertising-disclosure"><a class="btn btn-link"
                            href="javascript:void(0)">Advertising Disclosure</a>
                    </li>
                    <li class="footer-menu-item terms-of-use"><a class="btn btn-link" href="javascript:void(0)">Terms of
                            Use</a></li>
                    <!-- <li class="footer-menu-item"><a class="btn btn-link" href="javascript:void(0)">Partner with us</a>
                    </li> -->
                    <li class="footer-menu-item"><a class="btn btn-link" href="javascript:void(0)">Privacy Policy</a>
                    </li>
                    <li class="footer-menu-item"><a class="btn btn-link" href="javascript:void(0)">Contact</a></li>
                </ul>
                <hr />
                <p>
                    Designed to help users make confident decisions online, this website contains information about a
                    wide range of products and services. Certain details, including but not limited to prices and
                    special offers, are provided to us directly from our partners and are dynamic and subject to change
                    at any time without prior notice. Though based on meticulous research, the information we share does
                    not constitute legal or professional advice or forecast, and should not be treated as such.
                </p>
                <p>
                    Reproduction in whole or in part is strictly prohibited.
                </p>
            </div>
        </div>
    </div>
</footer>