.wrapper {
    padding: 10px 15px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 33px -21px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: 0px 0px 33px -21px rgba(0, 0, 0, 0.56);
    box-shadow: 0px 0px 33px -21px rgba(0, 0, 0, 0.56);
}

.wrapper h2 {
    color: #4a4a4a;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 30px;
}

ul.top-ranking-items {}

ul.top-ranking-items li.top-ranking-item {
    padding: 10px 0 10px;
    border-bottom: 1px solid #d4dcdd;
    display: flex;
    align-items: center;
}

ul.top-ranking-items li.top-ranking-item:first-of-type {
    padding-top: 0;
}

ul.top-ranking-items li.top-ranking-item:last-of-type {
    padding-bottom: 0;
    border: 0;
}

ul.top-ranking-items li.top-ranking-item .top-ranking-item-image {
    flex: 1;
}

ul.top-ranking-items li.top-ranking-item .top-ranking-item-image a {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;
    /* width: 215px; */
    height: 35px;
    display: block;
}

ul.top-ranking-items li.top-ranking-item .top-ranking-item-rank-and-link {
    display: flex;
    flex-direction: column;
}

ul.top-ranking-items li.top-ranking-item .top-ranking-item-rank-and-link .stars {
    display: flex;
}

ul.top-ranking-items li.top-ranking-item .top-ranking-item-rank-and-link .stars .star {
    background: url('/assets/images/stars/empty-star.png') top center no-repeat;
    width: 20px;
    height: 18px;
}

ul.top-ranking-items li.top-ranking-item .top-ranking-item-rank-and-link .stars .star.half-star {
    background-image: url('/assets/images/stars/half-star.png');
}

ul.top-ranking-items li.top-ranking-item .top-ranking-item-rank-and-link .stars .star.full-star {
    background-image: url('/assets/images/stars/full-star.png');
}

ul.top-ranking-items li.top-ranking-item .top-ranking-item-rank-and-link a {
    display: block;
    text-align: center;
    color: #0024ae;
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
}

/* #region CSS Media Queries */

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 991px) {
    .wrapper h2 {
        text-align: center;
    }
    ul.top-ranking-items li.top-ranking-item {
        display: block;
    }
    ul.top-ranking-items li.top-ranking-item .top-ranking-item-image a {
        background-position: center top;
    }
    ul.top-ranking-items li.top-ranking-item .top-ranking-item-rank-and-link {
        margin-top: 15px;
    }
    ul.top-ranking-items li.top-ranking-item .top-ranking-item-rank-and-link .stars {
        justify-content: center;
    }
}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 375px) {}

/* #endregion CSS Media Queries */