<header>
    <nav class="navbar navbar-expand-xl navbar-light">
        <div class="container">
            <a routerLink="/" href="javascript:void(0)" class="logo"></a>
            <button class="navbar-toggler" type="button" (click)="toggleNavbar = !toggleNavbar" data-toggle="collapse"
                data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01" [ngbCollapse]="toggleNavbar">
                <!-- <ul class="navbar-nav">
                    <li [ngClass]="{active:isActive(pages.topTenVpn.href)}">
                        <a (click)="navigate(pages.topTenVpn.href)" href="javascript:void(0)"
                            class="nav-link">{{pages.topTenVpn.name}}</a>
                    </li>
                    <li>
                        <span class="nav-link">{{pages.bestVpnFor.name}}</span>
                    </li>
                    <li [ngClass]="{active:isActive(pages.vpnReviews.href)}">
                        <a (click)="navigate(pages.vpnReviews.href)" href="javascript:void(0)"
                            class="nav-link">{{pages.vpnReviews.name}}</a>
                    </li>
                    <li>
                        <span class="nav-link">{{pages.guides.name}}</span>
                    </li>
                    <li [ngClass]="{active:isActive(pages.learn.href)}">
                        <a (click)="navigate(pages.learn.href)" href="javascript:void(0)"
                            class="nav-link">{{pages.learn.name}}</a>
                    </li>
                </ul> -->
            </div>
        </div>
    </nav>
</header>