<h1 class="main-title">{{mainTitle}}</h1>
<div class="date">{{mainDate}}</div>
<p>
    While Amazon Video debuted in 2006, there’s no question that with each passing year it gets better and better. Not
    only is it available to Prime members for free, but it’s also available as a standalone service to people who aren’t
    Prime members. And of course, it comes with thousands of movies and TV shows, including Amazon’s own exclusive
    branded content.
</p>
<p>
    The only issue with Amazon Prime Video is that it’s only available to people located in the United States. Which
    means that if you travel abroad for a short time or live outside the US, you won’t be able to stream anything from
    your Prime Video account.
</p>