<h1 class="main-title">{{mainTitle}}</h1>
<div class="date">{{mainDate}}</div>
<p>
    You have your desktop and your computer linked up to a VPN, but what about your mobile devices? Most of us spend use
    a mobile device the majority of the time we’re online, and if you’ve protected your computer but left your mobile
    device unsecured, that’s a bit like locking your doors only to leave the windows open.
</p>
<p>
    Thankfully, these days there is no shortage of VPN plans that can help secure your Android device, giving you an
    extra layer of security and a little peace of mind. Not only that, these Android VPN plans are very affordable and
    come loaded with features.
</p>
<img class="w100p" src="{{mainImage}}" alt="">
<h4>
    <b>Here are our top VPNs for Android, so take a look and see which one is right for you.</b>
</h4>