<h1 class="main-title">{{mainTitle}}</h1>
<div class="date">{{mainDate}}</div>
<p>
    Apple began as one of the pioneers in computer technology, and today, it seems like anything the company touches
    turns to gold—computers, smartphones, and one of its more recent developments, streaming media players, also known
    as Apple TV.
</p>
<p>
    Apple TV streaming is brilliant; it’s a tiny box that you plug into the HDMI port on your TV, and it then allows you
    to connect to the internet and watch shows and stream movies on your television screen.
</p>
<img class="w100p" src="{{mainImage}}" alt="">