<h1 class="main-title">{{mainTitle}}</h1>
<div class="date">{{mainDate}}</div>
<p>
    Whether you live in Australia or are just visiting, the best thing you can do to protect your online privacy and
    access content from around the world is to use a VPN, or virtual private network.
</p>
<h4>Why do you need a VPN for Australia?</h4>
<p>
    Few Australians realize it, but the authorities have the power to instruct your internet service provider (ISP) to
    hand over certain information about internet users, such as the IP address the user was connected to at the time of
    sending or receiving communications. In 2015-16, the various law enforcement agencies made more than 300,000
    authorizations for the disclosure of historical telecommunications data, including IP addresses. While you generally
    have nothing to fear if you’re not committing a crime, the only way of protecting yourself against potential
    snooping by the government or anyone else is to use a VPN.
</p>
<img class="w100p" src="{{mainImage}}" alt="">
<p>
    Another benefit of using a VPN for Australia is that it can get you around geo-blocking restrictions. Many streaming
    services, such as Netflix, Amazon, and Hulu restrict certain content to Australian viewers. With a VPN, you can
    connect to a server in the US, UK or elsewhere while being physically in Australia, and these services will treat
    you as if you were viewing from LA, London or Delhi and not from Sydney, Melbourne, or Alice.
</p>