<h1 class="main-title">{{mainTitle}}</h1>
<div class="date">{{mainDate}}</div>
<p>
    You may have heard about the Great Firewall of China. It’s the massive body of censorship laws regulating the
    Chinese public, and this year has heralded in a new level of restrictions. As the censorship laws get more
    restrictive, Chinese citizens get more creative with their attempts to go around them, and VPNs are at the forefront
    of the battle, becoming ever more prevalent with each passing law.
</p>
<img class="w100p" src="{{mainImage}}" alt="">
<h5>
    <b>Here They Are: The Fastest and Most Reliable VPNs for China:</b>
</h5>