<h1 class="main-title">{{mainTitle}}</h1>
<div class="date">{{mainDate}}</div>
<p>
    DirecTV Now is a streaming service owned by AT&T which allows subscribers in the U.S. to stream programming from
    cable TV channels without making a long-term commitment. For $35 per month, customers get access to a basic package
    of more than 60 channels, including all the major news channels (i.e. CNN, CNBC, Fox, MSNBC), entertainment channels
    (i.e. Disney Channel, Animal Planet, History, National Geographic, Food Network), and sports channels (i.e. ESPN and
    ESPN 2).
</p>
<p>
    It costs $70/month to get access to all the channels, and an extra $5 to $8 per month for HBO, Cinemax, Showtime,
    and Starz add-ons. DirecTV Now can be streamed straight to your TV via Apple TV, Roku, Amazon Fire TV, Android TV,
    or Chromecast, and to iOS and Android mobile devices.
</p>
<img class="w100p" src="{{mainImage}}" alt="">
<h4><b>Can I watch DirecTV Now outside the US?</b></h4>
<p>
    Only people—or more accurately, servers—located in the United States can access DirecTV Now. Fortunately, a VPN, or
    virtual private network, provides people outside the U.S. with a way around this. No matter where you are in the
    world, simply log on to a VPN server in the U.S. and sign up or log in to your DirecTV Now account to stream live
    programming from all the best American cable TV channels.
</p>
<h4><b>How to setup a VPN for DirecTV Now</b></h4>
<p>
    Setting up a VPN for DirecTV Now involves 2 steps: the first step is to set up your VPN service; the second is to
    set up your DirecTV Now subscription.
</p>
<p>
    How you setup your VPN depends on which device or browser you’ll be using to view DirecTV Now. The best VPN
    providers all offer detailed instructions on installation and setup. These are the basic steps:
</p>
<ul>
    <li>
        <p>Sign up for a subscription or free trial with your chosen VPN provider.</p>
    </li>
    <li>
        <p>Install the provider’s VPN client on your preferred device (i.e. <a href="/best-vpns-for-windows">Windows</a>
            or <a href="/top-10-vpns-for-mac">Mac</a> computer, <a href="/best-vpns-for-android">Android</a> or <a
                data-pageid="5a9c5171dfcf3600481e532f" href="/best-vpn-for-your-iphone">iOS</a> smartphone) or browser
            extension (i.e. <a href="/best-vpns-for-google-chrome">Chrome</a> or Safari).</p>
    </li>
    <li>
        <p>The VPN client or app will show you instructions for setting up on your chosen device.</p>
    </li>
    <li>
        <p>Enter the VPN client and connect to a server in the U.S.</p>
    </li>
</ul>
<p>
    Now that you’re connected to a server in the U.S., you can access DirecTV Now.
</p>
<ul>
    <li>
        <p>If you’re already a DirecTV Now subscriber, you’ll be able to stream live TV programming right away.</p>
    </li>
    <li>
        <p>If you’re not yet a DirecTV Now subscriber, you’ll first need to register.</p>
        <ul>
            <li>
                <p>The basic package costs $35 per month</p>
            </li>
            <li>
                <p>Additional packages cost $50, $60, and $70 per month</p>
            </li>
            <li>
                <p>All packages are contract free and commitment free, meaning customers can try the service out for a
                    month and stay as long as they like.</p>
            </li>
        </ul>
    </li>
    <li>
        <p>DirecTV Now can be streamed straight to your TV using Apple TV, Roku, Amazon Fire TV, or Chromecast. DirecTV
            Now will even send you an Apple TV 4K for free if you prepay for 3 months of its service. This is a great
            deal, given that the Apple TV4K costs $179 on the open market, and 3 months of the basic DirecTV now package
            costs just $105.</p>
    </li>
</ul>
<h4><b>How to Unblock and Watch DirecTV Now Everywhere Using a Smart DNS Proxy</b></h4>
<p>
    A Smart DNS proxy offers an alternative method of unblocking geo-restricted streaming services. A Smart DNS works by
    redirecting the part of your connection that reveals your location to the content provider, enabling you to access
    services such as DirecTV Now from outside the U.S. To use a Smart DNS proxy to access DirecTV Now, sign up for any
    Smart DNS service that shows DirecTV Now in its list of unblocked channels (which you should be able to find on each
    service’s website).
</p>
<hr />
<h4><b>Breakdown of the 5 best VPNs for unblocking DirecTV Now:</b></h4>