<h1 class="main-title">{{mainTitle}}</h1>
<div class="date">{{mainDate}}</div>
<p>
    If you’re concerned about privacy and security, installing a top virtual private network (VPN) on your browser
    should be one of the first steps you take. It extends private networks across public networks, allowing you to
    encrypt and hide your IP address and data.
</p>
<p>
    There is a wide selection of VPN suppliers on the market, but if you’re using Mozilla Firefox – one of the world’s
    top 3 web browsers – you're going to need to find a VPN that includes a Firefox plugin. Many of today’s top VPN
    providers include a Firefox plugin, and allow you to take advantage of their features while using the browser.
</p>
<img class="w100p" src="{{mainImage}}" alt="">