<h1 class="main-title">{{mainTitle}}</h1>
<div class="date">{{mainDate}}</div>
<p>
    ​For Hulu users, you’ll appreciate the vast array of both Japanese and US-based servers to choose from. And the
    45-day money back trial lets you test drive the service for more than a month to see if it’s a good fit for you.
</p>
<p>
    Hulu’s subscription video service offers fast streaming for some of the most popular content of today, including
    South Park and original content, such as Casual. This service gives subscribers the ability to view TV shows
    smoothly and whenever they want, and shows are available on Hulu even faster than on some of its competitors
    (Netflix, for example).
</p>
<img class="w100p" src="{{mainImage}}" alt="">
<p>
    Hulu partners with big names like the Walt Disney Company, BBC, Showtime, and more. The service has also made deals
    with channels like Fox, ABC, and NBC to run its programming immediately after the shows air (as opposed to
    non-subscription services that can only offer the shows a week or so after they’ve aired).
</p>