<h1 class="main-title">{{mainTitle}}</h1>
<div class="date">{{mainDate}}</div>
<p>
    Putin has struck again with an updated VPN ban meant to increase the already tight censorship laws regulating
    Russian viewing and streaming. Many Russian citizens and organizations rely on VPNs​ to provide adequate anonymity
    so they can voice their political opinions freely without fear of repercussions. With a tighter ban on VPN usage,
    people fear that their right to be heard as well as their ability to access information contrary to what the
    government espouses will be removed.
</p>
<p>
    The latest updates are honing in on non-compliant VPN services as well as TOR providers in particular.
</p>
<img class="w100p" src="{{mainImage}}" alt="">