/*#region general*/

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

ul {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    line-height: 1;
}

router-outlet+* {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-main {
    flex: 1;
    padding: 30px 0;
}

/*#endregion general*/