/*#region fonts*/

@font-face {
    font-family: 'robotoregular';
    src: url('/assets/fonts/roboto-fontfacekit/web-fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot');
    src: url('/assets/fonts/roboto-fontfacekit/web-fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/roboto-fontfacekit/web-fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff'), url('/assets/fonts/roboto-fontfacekit/web-fonts/roboto_regular_macroman/Roboto-Regular-webfont.ttf') format('truetype'), url('/assets/fonts/roboto-fontfacekit/web-fonts/roboto_regular_macroman/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotothin';
    src: url('/assets/fonts/roboto-fontfacekit/web-fonts/roboto_thin_macroman/Roboto-Thin-webfont.eot');
    src: url('/assets/fonts/roboto-fontfacekit/web-fonts/roboto_thin_macroman/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/roboto-fontfacekit/web-fonts/roboto_thin_macroman/Roboto-Thin-webfont.woff') format('woff'), url('/assets/fonts/roboto-fontfacekit/web-fonts/roboto_thin_macroman/Roboto-Thin-webfont.ttf') format('truetype'), url('/assets/fonts/roboto-fontfacekit/web-fonts/roboto_thin_macroman/Roboto-Thin-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*endregion fonts*/

/*#region general*/

body {
    font-family: 'robotoregular', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #eee;
}

ul {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    line-height: 1;
}

router-outlet+* {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-main {
    flex: 1;
    padding: 0 0 30px;
}

.btn-prime {
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.4px;
    background-color: #ee461a;
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;
    justify-content: center;
}

.btn-prime:hover {
    background-color: #d24824;
}

/*#endregion general*/

/* #region CSS Media Queries */

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 767px) {
    body {
        background: #fff;
    }
}

/* #endregion CSS Media Queries */