/*#region fonts*/

@font-face {
    font-family: 'robotoregular';
    src: url('/assets/fonts/roboto-fontfacekit/web-fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot');
    src: url('/assets/fonts/roboto-fontfacekit/web-fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/roboto-fontfacekit/web-fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff'), url('/assets/fonts/roboto-fontfacekit/web-fonts/roboto_regular_macroman/Roboto-Regular-webfont.ttf') format('truetype'), url('/assets/fonts/roboto-fontfacekit/web-fonts/roboto_regular_macroman/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotothin';
    src: url('/assets/fonts/roboto-fontfacekit/web-fonts/roboto_thin_macroman/Roboto-Thin-webfont.eot');
    src: url('/assets/fonts/roboto-fontfacekit/web-fonts/roboto_thin_macroman/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/roboto-fontfacekit/web-fonts/roboto_thin_macroman/Roboto-Thin-webfont.woff') format('woff'), url('/assets/fonts/roboto-fontfacekit/web-fonts/roboto_thin_macroman/Roboto-Thin-webfont.ttf') format('truetype'), url('/assets/fonts/roboto-fontfacekit/web-fonts/roboto_thin_macroman/Roboto-Thin-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*#endregion fonts*/

/*#region general*/

body {
    font-family: 'robotoregular', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #eee;
}

ul {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    line-height: 1.2;
}

router-outlet+* {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-main {
    flex: 1;
    padding: 0 0 30px;
}

.btn-prime {
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.4px;
    background-color: #ee461a;
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;
    justify-content: center;
}

.btn-prime:hover {
    background-color: #d24824;
}

/*#endregion general*/

/*#region content*/

.content {
    border: solid 1px #ccc;
    background-color: #fff;
    padding: 20px;
    font-size: 16px;
    color: #3f3f3f;
}

.content h2, .content h3, .content h4, .content h5, .content h6 {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.content p {
    line-height: 1.5;
    margin-top: 1rem;
}

.content ul {
    margin-bottom: 1rem;
}

.content h1.main-title {
    font-weight: bold;
    font-size: 30px;
    color: #3f3f3f;
    margin-bottom: 20px;
}

.content h2.sub-title {
    font-weight: bold;
    font-size: 25px;
    color: #3f3f3f;
    margin: 20px 0;
}

.content .date {
    font-size: 13px;
    color: #3f3f3f;
    margin-bottom: 20px;
}

.content img.w100p {
    width: 100%;
}

.content .vpn-list-items .vpn-list-item {
    padding: 20px 0;
    border-top: 1px solid #eee;
}

.content .vpn-list-items .vpn-list-item:last-of-type {
    border-bottom: 1px solid #eee;
}

.content .vpn-list-items .vpn-list-item .vpn-service {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.content .vpn-list-items .vpn-list-item .vpn-service .vpn-service-name {
    font-weight: bold;
    font-size: 20px;
    color: #3f3f3f;
}

.content .vpn-list-items .vpn-list-item .try {
    text-align: center;
}

.content .vpn-list-items .vpn-list-item .try a {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    min-width: 250px;
    min-height: 40px;
    background-color: #7fc600;
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
}

.content .vpn-list-items .vpn-list-item .try a:hover {
    background-color: #397a1b;
}

/*#endregion content*/

/* #region CSS Media Queries */

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 767px) {
    body {
        background: #fff;
    }
}

@media screen and (max-width: 480px) {
    .content .vpn-list-items .vpn-list-item .vpn-service {
        flex-direction: column;
        align-items: flex-start;
    }
    .content .vpn-list-items .vpn-list-item .vpn-service .vpn-service-name {
        margin-bottom: 10px;
    }
}

/* #endregion CSS Media Queries */